*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.text-white{
    color: white !important;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    z-index: 2;
}
#nav{
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav>li{
    display: inline-block;
}
#nav>li>a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    padding:0 24px;
    line-height: 46px;
    display: block;
}
#nav .subnav li:hover,
#nav>li:hover>a{
    color:#000!important;
    background-color:#ccc!important;
}
#nav .subnav{
    position: absolute;
    background-color: white;
    list-style-type: none;
    display:none;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: black;
    line-height: 38px;
    padding:0 12px;
}   
#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#header .search-btn{
    float:right;
    padding: 0 24px;
    line-height: 46px;
}
#header .search-btn:hover {
    color: #fff!important;
    background-color: #f44336!important;
    cursor: pointer;
}

#header .search-ti{
    color:white;
    font-size: 16px;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('.//img/chicago.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-content{
    color:white;
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size:24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;

}
#content{

}
#content .content-section{
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}
#content .content-heading{
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 10px;
}
#content .content-sub-section{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin-top: 15px;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 15px;
}
#content .name-content{
    margin: 32px 0;
    overflow: hidden;
}
#content .about-img{
    float: left;
    width: 33.3333%;
    text-align: center;
}
#content .text-name{
    font-size: 15px;
}
#content .img1{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/*  Tour */
#content .content-tour{
    background-color: #000;
}
#content .ticker-list{
    background-color: white;
    margin-top: 35px;
}
#content .ticker-list li{
    font-size: 16px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}
#content .ticker-list .sold-out{
    background-color: #f44336;
    color: white;
    margin-left: 16px;
    padding: 3px 8px;
    font-size: 16px;
}
#content .ticker-list .quatity{
    float:right;
    font-size: 15px;
    background-color: #000;
    border-radius: 50%;
    color: white;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}
/* Place */
#content .tour-place{
    margin:32px -8px 0;
    padding-bottom: 45px;
}
#content .place-list{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
#content .place-body{
    background-color: white;
    font-size: 15px;
    padding:  16px;
}
#content .img-place{
    width: 100%;
    display: block;
}
#content   .img-place:hover{
    opacity: 0.6;
}
#content .place-heading{
}
#content .place-time{
    opacity: 0.6;
    margin-top:15px;
}
#content .place-text{
    margin-top: 15px ;
    line-height: 1.4;
}
#content .place-buy-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 15px;
}
#content .place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
/* Footer */
#footer{

}
/* Modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    background-color: white;
    width: 900px;
    min-height: 422px;
    position: relative;
}
.modal-close{
    background-color: #009688;
    right: 0;
    font-size: 20px;
    padding: 8px 16px;
    color: white;
    position: absolute;
}
.modal-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.header-modal{
    font-size: 30px;
    color: white;
    background-color: #009688;
    padding: 32px 16px;
    letter-spacing: 4px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-bag{
    margin-right: 13px;
}
.modal-body {
    padding: 15px;
    font-size: 15px;
    line-height: 1.4;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input{
    padding:10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}
#buy-tickets{
    background-color: #009688;
    color: white;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}
#buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal-footer{
    font-size: 15px;
    float: right;
    margin-bottom: 15px;
    padding-right: 15px;
}
.modal-footer a{
    padding-left: 5px;
}
/* Content */
.inf-content{
    display: inline-block;
}
.content-icons{
    font-size: 20px;
    margin-right: 15px;
}
.content-head{
    margin-top: 35px;
}
#content .inf-text{
    font-size: 18px;
}
.input-content{
    margin-left: 150px;
    display: inline-block;
}
.name-input{
    height: 40px;
    width: 160px;
    border-radius:4px;
    border: 1px solid #ccc;
    padding: 12px 20px;
}
.mail-input{
    height: 40px;
    width: 160px;
    margin-left: 10px;
    border-radius:4px;
    border: 1px solid #ccc;
    padding: 12px 20px;
}
.mess-input{
    margin-top: 10px;
    height: 40px;
    width: 335px;
    border-radius:4px;
    border: 1px solid #ccc;
    padding: 12px 20px;
}
.btn-content{
    margin: 15px 0px 15px;
    float:right;
    background-color: #000;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    display: inline-block;
}
.btn-content:hover{
    color: black;
    background-color: #ccc;
}
#footer{
    background-color: #f1f1f1;
    width: 100%;
    height: 200px;
    color: black;
    margin-top: -5px;
    padding: 64px 16px;
    text-align: center;
}
.footer-icons{
    font-size: 25px;
    opacity: 0.6;
}
.text-footer{
    margin:15px 0;
    opacity: 0.6;
}